version: '3.1'
services:

  dps-data-compliance:
    image: quay.io/hmpps/dps-data-compliance:latest
    container_name: dps-data-compliance
    depends_on:
      - localstack
      - dps-data-compliance-db
      - hmpps-auth
      - prison-api
      - pathfinder-api
      - community-api
    networks:
      - hmpps
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_BASE_URL=http://hmpps-auth:8080/auth
      - PRISON_API_BASE_URL=http://prison-api:8080
      - COMMUNITY_API_BASE_URL=http://community-api:8080
      - PATHFINDER_API_BASE_URL=http://pathfinder-api:8080
      - APP_DB_URL=jdbc:postgresql://dps-data-compliance-db:5432/dps-data-compliance-db
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=admin_password
      - SPRING_PROFILES_ACTIVE=localstack
      - AWS_ACCESS_KEY_ID=arbitrary
      - AWS_SECRET_ACCESS_KEY=arbitrary

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  prison-api:
    image: quay.io/hmpps/prison-api:latest
    container_name: prison-api
    depends_on:
      - localstack
    networks:
      - hmpps
    ports:
      - "8082:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=nomis-hsqldb
      - DATA_COMPLIANCE_DB_ENABLE_PARALLEL_HINTS=false
      - AWS_ACCESS_KEY_ID=arbitrary
      - AWS_SECRET_ACCESS_KEY=arbitrary

  pathfinder-api:
    image: quay.io/hmpps/pathfinder-api:latest
    networks:
      - hmpps
    container_name: pathfinder-api
    ports:
      - "8083:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=stdout,dev

  community-api:
    image: quay.io/hmpps/community-api:latest
    networks:
      - hmpps
    container_name: community-api
    ports:
      - "8084:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  localstack:
    image: localstack/localstack
    container_name: localstack
    networks:
      - hmpps
    ports:
      - "4567-4597:4567-4597"
      - 8999:8080
    environment:
      - SERVICES=sns,sqs
      - DEBUG=${DEBUG- }
      - DATA_DIR=${DATA_DIR- }
      - PORT_WEB_UI=${PORT_WEB_UI- }
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR- }
      - KINESIS_ERROR_PROBABILITY=${KINESIS_ERROR_PROBABILITY- }
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_EXECUTION_ENV=True
      - DEFAULT_REGION=eu-west-2
      - HOSTNAME_EXTERNAL=localstack
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - $PWD/localstack:/docker-entrypoint-initaws.d

  dps-data-compliance-db:
    image: postgres
    networks:
      - hmpps
    container_name: dps-data-compliance-db
    restart: always
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=dps-data-compliance-db

networks:
  hmpps:
