# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: quay.io/hmpps/dps-data-compliance
  tag: latest
  port: 8080

ingress:
  enabled: true
  enable_whitelist: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - host: prison-data-compliance-preprod.prison.service.justice.gov.uk
      cert_secret: prison-data-compliance-cert
  path: /

env:

  JAVA_OPTS: "Xmx512m"

  HMPPS_AUTH_BASE_URL: "https://gateway.preprod.nomis-api.service.hmpps.dsd.io/auth"
  PRISON_API_BASE_URL: "https://gateway.preprod.nomis-api.service.hmpps.dsd.io/elite2api"
  PATHFINDER_API_BASE_URL: "https://preprod-api.pathfinder.service.justice.gov.uk"

  SNS_PROVIDER: aws

  DATA_COMPLIANCE_REQUEST_SQS_PROVIDER: aws
  DATA_COMPLIANCE_RESPONSE_SQS_PROVIDER: aws

  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "https://gateway.preprod.nomis-api.service.hmpps.dsd.io/auth/.well-known/jwks.json"

  # Materialized View not available :
  OFFENDER_RETENTION_DATA_DUPLICATE_DB_CHECK_ENABLED: false
  OFFENDER_RETENTION_IMAGE_DUPLICATE_CHECK_ENABLED: true
  OFFENDER_RETENTION_DATA_DUPLICATE_ID_CHECK_ENABLED: true
  OFFENDER_RETENTION_DATA_DUPLICATE_AP_CHECK_ENABLED: true
  OFFENDER_RETENTION_FALSE_POSITIVE_DUPLICATE_CHECK_ENABLED: true
  DELETION_GRANT_ENABLED: true

  OFFENDER_DELETION_CRON: "0 0 14 ? * MON-FRI *"
  OFFENDER_DELETION_INITIAL_WINDOW_START: "2020-01-01T00:00:00"
  OFFENDER_DELETION_WINDOW_LENGTH: "P6000D"
  OFFENDER_DELETION_REFERRAL_LIMIT: 220

  IMAGE_RECOGNITION_PROVIDER: "AWS"
  DUPLICATE_DETECTION_PROVIDER: "AWS"

  # Switching off image upload, now initial run complete:
  #PRISON_API_OFFENDER_IDS_ITERATION_THREADS: 14
  #PRISON_API_OFFENDER_IDS_INITIAL_OFFSET: 362900
  #IMAGE_RECOGNITION_UPLOAD_PERMITS_PER_SECOND: 14
  #IMAGE_RECOGNITION_MIGRATION_CRON: "0 30 9 4 3 ? 2020"

whitelist:
  office: "217.33.148.210/32"
  health-kick: "35.177.252.195/32"
  mojvpn: "81.134.202.29/32"
  cloudplatform-live1-1: "35.178.209.113/32"
  cloudplatform-live1-2: "3.8.51.207/32"
  cloudplatform-live1-3: "35.177.252.54/32"
