# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: quay.io/hmpps/dps-data-compliance
  tag: latest
  port: 8080

ingress:
  enabled: true
  enable_whitelist: true
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - host: prison-data-compliance-dev.prison.service.justice.gov.uk
      cert_secret: prison-data-compliance-cert
  path: /

env:
  JAVA_OPTS: "Xmx512m"

  HMPPS_AUTH_BASE_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
  PRISON_API_BASE_URL: "https://api-dev.prison.service.justice.gov.uk"
  PATHFINDER_API_BASE_URL: "https://dev-api.pathfinder.service.justice.gov.uk"
  COMMUNITY_API_BASE_URL: "https://community-api-secure.test.delius.probation.hmpps.dsd.io"

  SNS_PROVIDER: aws
  DATA_COMPLIANCE_REQUEST_SQS_PROVIDER: aws
  DATA_COMPLIANCE_RESPONSE_SQS_PROVIDER: aws

  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth/.well-known/jwks.json"

  # No dev image collection to use:
  OFFENDER_RETENTION_IMAGE_DUPLICATE_CHECK_ENABLED: false
  OFFENDER_RETENTION_FALSE_POSITIVE_DUPLICATE_CHECK_ENABLED: false
  # No Analytical Platform dev environment to point to:
  OFFENDER_RETENTION_DATA_DUPLICATE_AP_CHECK_ENABLED: false
  # Materialized View not available :
  OFFENDER_RETENTION_DATA_DUPLICATE_DB_CHECK_ENABLED: false
  OFFENDER_RETENTION_DATA_DUPLICATE_ID_CHECK_ENABLED: true
  # Testing deletion kill switch:
  DELETION_GRANT_ENABLED: false
  IMAGE_RECOGNITION_DELETION_ENABLED: false

  OFFENDER_DELETION_CRON: "0 30 11 ? * MON-FRI *"
  OFFENDER_DELETION_INITIAL_WINDOW_START: "2000-05-10T00:00:00"
  OFFENDER_DELETION_WINDOW_LENGTH: "P1D"
  OFFENDER_DELETION_REFERRAL_LIMIT: 1
  OFFENDER_DELETION_REVIEW_REQUIRED: "true"
  OFFENDER_DELETION_REVIEW_DURATION: "PT1H"
  OFFENDER_DELETION_LIMIT: 1

whitelist:
  office: "217.33.148.210/32"
  health-kick: "35.177.252.195/32"
  mojvpn: "81.134.202.29/32"
  cloudplatform-live1-1: "35.178.209.113/32"
  cloudplatform-live1-2: "3.8.51.207/32"
  cloudplatform-live1-3: "35.177.252.54/32"
